[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
flake8 = "*"

[packages]
discord-py = "*"
click = "*"
aioredis = "*"
pyenchant = "*"

[requires]
python_version = "3.7"
