[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
flake8 = "*"

[packages]
asyncpg = "*"
discord-py = "*"
click = "*"
requests = "*"
orm = "*"

[requires]
python_version = "3.7"
